.x-button {
    --color-accent: transparent;
    --color-accent-foreground: #171717;
    --x-button-block-size: auto;
    --x-button-padding-block: .75rem;
    --x-button-padding-inline: .75rem;
    --x-button-font-size: 1rem;
    --x-button-font-weight: 600;
    --x-button-hover-opacity: 40%;
    --x-button-focus-opacity: 80%;
    --x-button-border-radius: .5rem;
    &.active {
        --color-accent-foreground: #fff;
        --color-accent: #3B82F6;
    }
  }